body {
    background-color: gray;
}

.container {
    padding: 10px;
    margin-top:50px;
    margin-bottom:50px;
    margin-right:50px;
    margin-left:50px;
    background-color: #a9a9a9;
    color:white;
}

.nav li {
    display:inline;
    margin-left:10px;
    padding:10px;
    background-color:#2f4f4f;
    color:white;
}

.foot {
    background-color:#4f4f4f;
    color:white;
    padding:10px;
    margin:10px;
    text-align:center;
}

#space {
    display:block;
    margin: 0 auto;
    max-height:70%;
    max-width:70%;
}